[submodule "apps/test-skill"]
	path = apps/test-skill
	url = https://github.com/surabhiiyer/AlexaServer.git
[submodule "apps/apps/test-skill"]
	path = apps/apps/test-skill
	url = https://github.com/Kenji776/AlexaTestSkill.git
